.carousel {
  width: 400px;
  height: 300px; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 8px #6c6a6a;
}

.image-hidden {
  display: none;
}

.arrow {
  width: 2rem;
  height: 2rem;
  position: absolute;
  color: #c8c8c8;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indexes {
  position: relative;
  display: flex;
  bottom: 1rem;
}

.index {
  height: 0.2rem;
  background-color: #c8c8c8;
  margin: 0 0.05rem;
  border: none;
  border-radius: 40%;
  outline: none;
  box-shadow: 0px 0px 1px #c8c8c8;
  cursor: pointer;
}

.index-inactive {
  background-color: grey;
}