.carousel {
  width: 800px;
  height: 600px; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 8px #6c6a6a;
}

.image-hidden {
  display: none;
}

.arrow {
  width: 2rem;
  height: 2rem;
  position: absolute;
  color: #c8c8c8;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indexes {
  position: relative;
  display: flex;
  bottom: 1rem;
}

.index {
  height: 0.2rem;
  background-color: #c8c8c8;
  margin: 0 0.1rem;
  border: none;
  border-radius: 40%;
  outline: none;
  cursor: pointer;
}

.index-inactive {
  background-color: grey;
}

/************************************************************************* Media queries *******************/

/* xs - Extra small devices */
@media (max-width: 575.99px) {
  .carousel {
    width: 300px;
    height: 200px;
  }
}

/* sm - Small devices */
@media (min-width: 576px) and (max-width: 767.99px) {
  .carousel {
    width: 400px;
    height: 300px;
  }
}

/* md - Medium devices */
@media (min-width: 768px) and (max-width: 991.99px) {
  .carousel {
    width: 600px;
    height: 400px;
  }
}